<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hurtownia - magazyn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        #container
        {width: 1000px;
        margin-left: auto;
        margin-right: auto
        }
        #header
        {width: 1000px;
        text-align: center;
        padding: 15px
        }
        #aside
        {float: left;
        width: 200px;
        padding: 15px
        }
        #main
        {float: left;
        width: 850px
        padding: 15px;
        margin-top: 100px;
        margin-left: 50px
        }
        #footer
        {clear: both;
        padding: 15px
        }
    </style>
  </head>

  <body>
    <h1>HURTOWNIA - program księgowy</h1>
    <h2>Magazyn</h2>
 <div id="container mt-3">
     <div id="header">

        <a href="/" class = "btn btn-primary">Strona główna</a>
        <a href="/Finanse"class = "btn btn-primary">Finanse</a>
        <a href="/Magazyn"class = "btn btn-primary">Magazyn</a>
        <a href="/Sprzedaz"class = "btn btn-primary">Sprzedaż towarów</a>
        <a href="/Zakup"class = "btn btn-primary">Zakup towarów</a>
        <a href="/Historia"class = "btn btn-primary">Historia</a>


    </div>

    <div id="aside">
    <p class="mb-5">  Aktualna wartość zapasów: {{ context.wartosc_zapasow }}  </p>
       <a href="/Dodawanie_produktow" class = "btn btn-primary mb-5">Wprowadź produkt do magazynu</a>
       <a href="/Szukanie_produktu" class = "btn btn-primary mb-5">Znajdź produkt w magazynie</a>
    </div>

    <div id="main">

        {% if context.lista_produktow %}

        <table class="table">
        <thead>
        <tr>

        <th scope="col">Nazwa produktu</th>
        <th scope="col">Ilość</th>
        <th scope="col">Cena</th>
        <th scope="col">Wartość</th>
            <th scope="col">Sprzedaj produkt</th>
        <th scope="col">Usuwanie produktów</th>

        </tr>
        </thead>

            <tbody>

            {% for product in context.lista_produktow %}
             <tr>
                <td>{{ product.produkt }} </td>
                <td>{{ product.ilosc }} </td>
                <td>{{ product.cena }} zł </td>
                 <td>{{ product.wartosc }} zł</td>
                  <td>
                    <form action='/Sprzedaz_produktow' method="POST">
                        <input type="hidden" value={{ product.id }} name="product_id">
                     <button type="submit" class='btn btn-danger'>Sprzedaj</button>

                    </form>

                 </td>

                 <td>
                    <form action='/Usuwanie_produktow' method="POST">
                        <input type="hidden" value={{ product.id }} name="product_id">
                     <button type="submit" class='btn btn-danger'>Usuń</button>
                    </form>

                 </td>
             </tr>

            {% endfor %}
            </tbody>
            </table>
            {% else %}
            <p>Brak produktów w magazynie</p>
             {% endif %}

    </div>
 </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>

</html>